body{
      margin: 0;
      display: flex;
      justify-content: center;
      height: 100vh;
      align-items: center;
}

.input{
      visibility: hidden;
}

.label{
      position: absolute;
      width: 80px;
      height: 40px;
      background-color: rgb(85, 91, 93);
      border-radius: 20px;
}

.circulo{
      width: 34px;
      background-color: yellowgreen;
      height: 34px;
      border-radius: 50%;
      top: 3px;
      position: absolute;
      left: 3px;
      animation: switchOff 0.2s linear forwards;
}

.input:checked + .label{
      background-color: blueviolet;
}

.input:checked + .label .circulo{
      animation: switchOn 0.2s linear forwards;
      background-color: black;

}

@keyframes switchOn{
      0%{
            transform: translateX(0);
      }
      100%{
            transform: translateX(40px);
      }
}

@keyframes switchOff{
      0%{
            transform: translateX(40px);
      }
      100%{
            transform: translateX(0);
      }
}